.container {
    display: flex;
    margin-top: 130px;
  }
  
  .kiri {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
  }
  
  .kiri span {
    font-size: 26px;
    font-weight: bold;
  }
  
  .kanan {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  
  .kanan img {
    border-radius: 12px;
  }
  
  section {
    padding-top: 100px;
  }
  
  /* Our Team */
  #our-Team {
    width: 80%;
    margin: 4rem auto 1rem;
  }
  
  #our-Team h2 {
    text-align: center;
    margin: 1rem auto 4rem;
    position: relative;
  }
  
  #our-Team h2::after {
    content: '';
    height: 4px;
    margin: 0 auto;
    text-align: center;
    width: 15%;
    background-color: #146152;
    position: absolute;
    left: 50%;
    bottom: -10px;
    border-radius: 5px;
    transform: translate(-50%);
  }
  
  .teamContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
  }
  
  .team-item h5 {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .team-item span {
    margin-top: .4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #146152;
  }
  
  .team-item img {
    width: 80px;
  }
  
  
  footer {
    margin-top: 200px;
  }
  
  