body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 350px;
}

.logo {
    margin-bottom: 1rem;
}

.logo img {
    width: 100px;
}

.btn{
    margin: 24px;
}