body,
html {
    height: 50%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
}

.container {
    width: 200px;
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: 1rem;
}

.logo img {
    width: 100px;
}

.success-icon {
    color: green;
    font-size: 3rem;
}